body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1210px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:1px;
  top:2px;
  width:1209px;
  height:2168px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:2168px;
}
#u2 {
  position:absolute;
  left:2px;
  top:1076px;
  width:1205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:230px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:230px;
}
#u4 {
  position:absolute;
  left:2px;
  top:107px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:60px;
  top:317px;
  width:1108px;
  height:1692px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:1692px;
}
#u6 {
  position:absolute;
  left:2px;
  top:838px;
  width:1104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1000px;
  top:12px;
  width:180px;
  height:168px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:168px;
}
#u8 {
  position:absolute;
  left:2px;
  top:76px;
  width:176px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:50px;
  top:80px;
  width:910px;
  height:41px;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:916px;
  height:47px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:46px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:41px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:41px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u11_img.mouseDown {
}
#u11.mouseDown {
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:69px;
  top:0px;
  width:241px;
  height:41px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:41px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:237px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:310px;
  top:0px;
  width:252px;
  height:41px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:41px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:248px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:562px;
  top:0px;
  width:235px;
  height:41px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:41px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:231px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:797px;
  top:0px;
  width:113px;
  height:41px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u20 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:68px;
  top:85px;
  width:40px;
  height:32px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:804px;
  top:27px;
  width:156px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:109px;
  top:350px;
  width:1001px;
  height:280px;
  font-size:14px;
  color:#CCCCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:280px;
}
#u26 {
  position:absolute;
  left:2px;
  top:132px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:157px;
  top:372px;
  width:197px;
  height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:845px;
  top:408px;
  width:51px;
  height:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:988px;
  top:408px;
  width:65px;
  height:22px;
  color:#00CC00;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:136px;
  top:428px;
  width:69px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:231px;
  top:428px;
  width:175px;
  height:22px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:845px;
  top:378px;
  width:114px;
  height:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:988px;
  top:376px;
  width:65px;
  height:22px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:136px;
  top:508px;
  width:81px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:586px;
  top:468px;
  width:125px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:231px;
  top:508px;
  width:266px;
  height:22px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:22px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:717px;
  top:468px;
  width:92px;
  height:22px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:109px;
  top:650px;
  width:1001px;
  height:290px;
  font-size:14px;
  color:#CCCCCC;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:290px;
}
#u50 {
  position:absolute;
  left:2px;
  top:137px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:136px;
  top:468px;
  width:85px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:231px;
  top:468px;
  width:77px;
  height:22px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:586px;
  top:508px;
  width:114px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:717px;
  top:508px;
  width:42px;
  height:22px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:157px;
  top:675px;
  width:190px;
  height:28px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:28px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:845px;
  top:711px;
  width:51px;
  height:22px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:988px;
  top:711px;
  width:65px;
  height:22px;
  color:#FF0000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:136px;
  top:731px;
  width:69px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:231px;
  top:731px;
  width:175px;
  height:22px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:845px;
  top:681px;
  width:114px;
  height:22px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:988px;
  top:679px;
  width:65px;
  height:22px;
  color:#000000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:136px;
  top:811px;
  width:81px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:586px;
  top:771px;
  width:125px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:231px;
  top:811px;
  width:266px;
  height:22px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:22px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:717px;
  top:771px;
  width:92px;
  height:22px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:136px;
  top:771px;
  width:85px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:231px;
  top:771px;
  width:77px;
  height:22px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:109px;
  top:972px;
  width:1001px;
  height:290px;
  font-size:14px;
  color:#CCCCCC;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:290px;
}
#u86 {
  position:absolute;
  left:2px;
  top:137px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:586px;
  top:811px;
  width:114px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:717px;
  top:811px;
  width:42px;
  height:22px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:157px;
  top:1009px;
  width:190px;
  height:28px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:28px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:845px;
  top:1041px;
  width:51px;
  height:22px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:988px;
  top:1041px;
  width:65px;
  height:22px;
  color:#FF0000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:136px;
  top:1061px;
  width:69px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:231px;
  top:1061px;
  width:175px;
  height:22px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:845px;
  top:1011px;
  width:114px;
  height:22px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:988px;
  top:1009px;
  width:65px;
  height:22px;
  color:#000000;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:136px;
  top:1141px;
  width:81px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:586px;
  top:1101px;
  width:125px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:231px;
  top:1141px;
  width:266px;
  height:22px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:22px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:717px;
  top:1101px;
  width:92px;
  height:22px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:136px;
  top:1101px;
  width:85px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:231px;
  top:1101px;
  width:77px;
  height:22px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:586px;
  top:1141px;
  width:114px;
  height:22px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:717px;
  top:1141px;
  width:42px;
  height:22px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:769px;
  top:570px;
  width:141px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:929px;
  top:570px;
  width:141px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u124 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:929px;
  top:883px;
  width:141px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u126 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:929px;
  top:1205px;
  width:141px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u128 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:769px;
  top:883px;
  width:141px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u130 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:769px;
  top:1205px;
  width:141px;
  height:31px;
  font-size:14px;
  color:#FFFFFF;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
